<div *ngIf="answers; else spinner">
 <app-answer-card *ngFor='let answer of answers' [answer]='answer' [question]="question"></app-answer-card>
</div>

<ng-template #spinner>
    <div class="spinner">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>