<div *ngIf="questions" style='margin: 25px 0px;'>
    <mat-accordion>
            <app-question-card 
                *ngFor="let question of questions"
                [question]="question" 
                (cancle)="refreshQuestions()">
            </app-question-card>
    </mat-accordion>    
</div>