<div class="question-card" [ngClass]="question.isAnswered ? 'green-border': ''"> 
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false" 
                           [disabled]="open" 
                           [expanded]="open" 
                           hideToggle>
        <mat-expansion-panel-header class="header" collapsedHeight='75px'>
          <mat-panel-title class="header-user">
                          <!-- todo(LSimac): LINK NA USER-a i Avatar-->
            <img class="user-avatar" [src]="avatarId">
            <label class="username" fxHide.lt-sm="true">{{question.message.author.username}}</label> 
          </mat-panel-title>
          <mat-panel-description class="description">
            <label class="question-title">{{question.title}}</label>
            <mat-icon *ngIf="question.isAnswered" class="question-is-answered" style="margin-right: 15px;">check</mat-icon>
          </mat-panel-description>
            <div 
              *ngFor="let category of question.categories" 
              class="categories-list"
              fxHide.lt-xs="true">
                <mat-icon style="margin-left: 5px;">{{ categories[category.name] }}</mat-icon>
            </div>
        </mat-expansion-panel-header>
        <p>{{question.message.text}}</p>
        <app-thumbnails [imageIds]="question.message.imageIds"></app-thumbnails>
        <div *ngIf="!open">
          <button mat-fab	class="details" (click)="openDetails()" class="button-margine">
            <mat-icon>more</mat-icon>
          </button>
        </div>
      </mat-expansion-panel>
  </div>
