div.question-card {
    margin: auto;
  }
  .user-avatar{
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .header{
    align-items: center;
    margin: auto;
  }

  .details{
    position: relative;
    right: 20px
  }
  
  .header-user{
    vertical-align:middle;
    align-items: center;
  }
  
  .question-title{
    font-size: 25px;
    color: black;
  }
  
  .question-is-answered{
    color: green;
    font-size:30px;
    margin-right: 5px;
  }
  
  
  .images-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }
  
  .image-holder {
    padding: 2px; /*for white border around images*/
    height: 120px;
  }
  
  .image-holder {
    height: 50%;
  }
  
  .thumbnail:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  
  
  .username{
    font-size: 20px;
  }
  
  .button-margine {
    float: right;
    margin: 5px 5px 5px 5px;
  }

  .green-border {
    background-color: greenyellow;
  }