<mat-toolbar fxFlex class="mat-elevation-z4" color="primary" style="width: fit-content;">
    <mat-toolbar-row>
        <ng-content></ng-content>
        <span
            
            routerLink="/"
            style="cursor: pointer;">

            <div style="margin-left: 5px;">                
                Pitaj Najbližeg
                <mat-icon fxHide.xs="true" style="padding-left: 5px;">forum</mat-icon>
            </div>

        </span>
        <span class="example-fill-remaining-space"></span>
        <span class="align-center"></span>
        <span class="example-spacer"></span>
        <span class="align-right" *ngIf="currentUser">
            <app-notification-button 
                *ngIf="currentUser.role != 'admin'"
            ></app-notification-button>

            <span
                routerLink="/user/myProfile"
                style="cursor: pointer; margin-left: 16px;"
                fxHide.xs="true">
                {{ currentUser.username }}
                <img [src]="userImage" class="user-avatar">
            </span>
        </span>
    </mat-toolbar-row>
</mat-toolbar>
