<div fxLayoutAlign="center none">
    <mat-card class="example-card">
        <div fxLayout="row" fxLayoutAlign="start start">
            <mat-card-title-group>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>User name</mat-card-title>
                <mat-card-subtitle>User type</mat-card-subtitle>
                <img mat-card-sm-image
                    src="https://cd.foundation/wp-content/uploads/sites/78/2019/04/blank_portrait.png"
                    alt="Photo of a Shiba Inu">
            </mat-card-title-group>
            <button mat-button-icon routerLink='/home' fxLayoutAlign="center center">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <mat-card-content>
            <p>
                User description. User description. User description. User description. User description.
                User description. User description. User description. User description. User description.
            </p>
            <p>user score / karma</p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
</div>