<div *ngIf="imageIds; else withObservable">
    <img *ngFor="let id of imageIds" 
        [src]=" imgUrl+'/'+id | secure | async" 
        (click)="onClick(imgUrl+'/'+id)"
        class="addPhoto">
</div>

<ng-template #withObservable>
    <mat-grid-list cols="3" rowHeight="80px">
        <mat-grid-tile *ngFor='let url of urls'>
            <img [ngClass]="{'addPhoto': !isRemoveState, 'removePhoto': isRemoveState}" [src]='url'
                (click)="onClick(url)">
        </mat-grid-tile>
    </mat-grid-list>
</ng-template>