img {
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 100px; /* Set a small width */
    height: 50px;
    margin: 10px;
  }
    
.thumbnails{
    margin: 5px;
    padding: 10px;
}

.addPhoto{
  box-shadow: 0 0 2px 1px rgba(0, 149, 186, 0.5);
}

.removePhoto{
  box-shadow: 0 0 2px 1px rgba(255, 4, 4, 0.746);
}

