<div *ngIf="questions" style='margin: 25px 0px;'>

        <div 
            class="checkbox-container" 
            fxLayout="row wrap" 
            *ngIf="!loading && questions.length !== 0">
            <label class="filter-text">Filter by category: </label>
            <div *ngFor="let category of categories; let i=index">
            <mat-checkbox style="margin: 5px; float: right;" (change)="onCheckbox(i, $event.checked)">
                {{ categories[i].name }}
            </mat-checkbox>
            </div>
        </div>

    <mat-accordion>
            <app-question-card 
                *ngFor="let question of filteredQuestions"
                [question]="question" 
                (cancle)="refreshQuestions()">
            </app-question-card>
    </mat-accordion>    
</div>