<div *ngIf="user">
  <div class="align-text-bottom">
    <img *ngIf="user.avatarId" class="user-avatar" [src]="userImageUrl | secure | async"/>
    <img *ngIf="!user.avatarId" class="user-avatar" src="https://simpleicon.com/wp-content/uploads/user1.png"/>

    <span class="username-text">{{ user.username }}</span>
  </div>
  <hr>
  <div>
    <h6>Location</h6>
    <p><i>{{userLocationString}}</i></p>
    <app-geo-map
      *ngIf="user.location"
      [longitude]="user.location.longitude"
      [latitude]="user.location.latitude"
      [draggable]="false">
    </app-geo-map>
    <hr>
  </div>

  <div>
    <h6>Role</h6>
    <p><i>{{user.role}}</i></p>
    <hr>
  </div>

  <div *ngIf="user.description">
    <h6>Description</h6>
    <p><i>{{user.description}}</i></p>
    <hr>
  </div>

  <div *ngIf="user.categories">
    <h6>Categories</h6>
    <span><i *ngFor="let c of user.categories">{{c.name}} </i></span>
    <hr>
  </div>

  <div *ngIf="user.grade !== null && user.grade !== undefined">
    <h6>Rating</h6>
    <p><i>{{user.grade}}</i></p>
    <hr>
  </div>

  <div *ngIf="isLogged">
    <button mat-fab (click)="onEdit()" style="float: right;">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</div>
