<div *ngIf="question">

<div *ngIf="!isProfessional || isProfessional && (isUserOwner() || currentUser.id === question.idOfProfessionalWhoClaimed)">
    <button mat-fab class="add-btn" (click)="openDialog()">
        <mat-icon>question_answer</mat-icon>
    </button>
</div>
<div *ngIf="question">
    <div class="inline">
        <div *ngIf="isUserOwner()" class="inline">
            <button mat-fab class="edit-btn" color="primary" (click)="openDialogEdit()">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
        <mat-icon *ngIf="question.isAnswered" class="question-is-answered">check</mat-icon>
        <label class="question-title">{{question.title}}</label>

        <div
        *ngFor="let category of question.categories"
        class="categories-list"
        fxHide.lt-xs="true">
          <mat-icon>{{ categories[category.name] }}</mat-icon>
      </div>
    </div>

    <div class="user-info">
        <span
            [routerLink]="'/user/' + question.message.author.id"
            style="cursor: pointer;">
            <label  fxHide.lt-sm="true" class="username">{{question.message.author.username}}</label>
            <img class="user-avatar" [src]="userImage">
        </span>
    </div>

    <br>

    <div>
        <p>{{question.message.text}}</p>
    </div>

    <br>

    <app-thumbnails [imageIds]="question.message.imageIds"></app-thumbnails>

    <hr>

    <div>
        <!-- <button
            mat-fab
            aria-label="Open map"
            style="position: absolute; z-index: 1;"
            (click)="onMapButton()">
            <mat-icon>map</mat-icon>
        </button> -->
        <app-geo-map
            [longitude]="question.location.longitude"
            [latitude]="question.location.latitude"
            [draggable]="false"
            *ngIf="showMap">
        </app-geo-map>
    </div>

    <hr>

    <!-- ACCEPT AND REJECT PROFESSION QUESTION -->
    <div
        *ngIf="isCurrentUserProf && question.type === 'professional' && !question.idOfProfessionalWhoClaimed && question.professionalIds.includes(currentUser.id)"
        fxLayout="row"
        fxLayoutAlign="center center">
        <button
            style="width: 40%; margin: 15px; height: 70px;"
            mat-raised-button
            color="accent"
            (click)="claim(true)">Claim</button>
        <button
            style="width: 40%; margin: 15px; height: 70px;"
            mat-raised-button
            color="warn"
            (click)="claim(false)">Reject</button>
    </div>

        <!-- LIST PROFESSIONALS -->
    <div *ngIf="isProfessional && !isCurrentUserProf && !question.idOfProfessionalWhoClaimed">
        <div *ngIf="!loadingProfessionals">
            <label>Following users will be able to claim your question: </label>
            <mat-card
                *ngFor="let prof of professionals"
                [routerLink]="'/user/' + prof.id"
                style="cursor: pointer; width: 100%;"
                class="professiona-card">{{ prof.username }}
            </mat-card>
        </div>
        <div *ngIf="loadingProfessionals">
            LOADING PRFESSIONALS...
        </div>
    </div>

    <div *ngIf="isProfessional && !isCurrentUserProf && question.idOfProfessionalWhoClaimed">
        <mat-card
            [routerLink]="'/user/' + question.idOfProfessionalWhoClaimed"
            class="claimed-card"> PROFESSIONAL USER CLAIMED TO ANSWER YOUR QUESTION
        </mat-card>

        <br>

        <div fxLayout="row" fxLayoutAlign="center center">
            <label class="grade-label">Please rate professional: </label>
            <mat-slider
                #slider
                thumbLabel
                min="1" max="5" step="1" value="5"
                class="grade-slider"></mat-slider>
            <button
                mat-raised-button color="accent"
                class="grade-submit"
                (click)="rateProfessional(slider.value)">Submit</button>
        </div>
        <hr>
    </div>

    <div
        *ngIf="isCurrentUserProf && question.idOfProfessionalWhoClaimed === currentUser.id"
        fxLayoutAlign="center center">
        <mat-card
            [routerLink]="'/user/' + question.idOfProfessionalWhoClaimed"
            class="claimed-card-prof"> YOU CLAIMED TO ANSWER
        </mat-card>
    </div>

    <br>

    <app-answer-card-list [question]="question"></app-answer-card-list>

    <br>
</div>

</div>
