.add-btn{
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 50;
}

.inline{
    display:inline-block;
    margin-right:10px;
}

.categories-list{
    display:inline-block;
}

.user-avatar{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;

    box-sizing: border-box;
    border: 3px solid rgba(9, 7, 39, 0.1);
}

.username{
    padding: 5px 15px 5px;
    font-size: 20px;
}


.question-title{
    padding: 20px 20px 20px 20px;
    font-size: 40px;
    color: black;
}
  
.question-is-answered{
    color: green;
    font-size: 30px;
    margin-right: 5px;
} 

.user-info {
    padding: 30px 20px 20px 20px;
    float: right;
}

.map-button {
    position: absolute;
    right: 0px;
    z-index: 100;
    margin: 20px;
}

.professiona-card:hover {
    background-color: #354cb1;
    color: white;
}

.claimed-card {
    cursor: pointer; 
    width: 100%;
    background-color: #bdecb6;
    color: black;
}

.claimed-card:hover {
    cursor: pointer; 
    width: 100%;
    background-color: #5fb851;
    color: white;
}

.claimed-card-prof {
    width: 100%;
    background-color: #fdfd96;
    color: black;
}

.grade-label {
    margin-left: 10px;
    margin-right: 25px;
}

.grade-submit {
    margin-left: 25px;
    margin-right: 10px;
}

.grade-slider {
    width: 30%;
}

.edit-btn{
    position: fixed;
    bottom: 16px;
    left: 16px;
    z-index: 50;
}