.add-btn{
    position: absolute;
    bottom: 25px;
    right: 20px;
    z-index: 50;
}

.list-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.example-viewport {
    margin: 20px;
    height: 50vh;
    width: 70vw;
}

.example-viewport-mobile{
    margin: 20px;
    height: 50vh;
    width: 80vw;
}

mat-expansion-panel{
    margin: auto;
}