<div *ngIf="displayedColumns">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

            <ng-container *ngFor="let columnDef of displayedColumns" matColumnDef="{{columnDef}}">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columnDef}} </th>
                <td mat-cell *matCellDef="let question"> {{ getQuestionDefinition(columnDef,question) }} </td>
            </ng-container>

            <ng-container matColumnDef="Id">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                    <div class="example-element-detail"
                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <div class="example-element-description">
                            <div class="example-button-row">
                                <button mat-flat-button color="warn" (click)="deletUser(element.id)">Delete question</button>
                            </div>
                        </div>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let question; columns: displayedColumns;" class="example-element-row"
                [class.example-expanded-row]="expandedElement"
                (click)="expandedElement = expandedElement === question ? null : question"></tr>
            <tr mat-row *matRowDef="let row; columns: ['Id']" class="example-detail-row"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
</div>