.answered {
  background-color: green;
}

table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
  }

  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: #777;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }

  
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.progess-spiner{
  display: flex; 
  justify-content: center; 
  align-items: center;  
  z-index: 999; 
  position:fixed; 
  left: 50%; 
  top: 35%;  
  background: transparent;
}