<div class="container">
<h1 mat-dialog-title>End date of user ban</h1>
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" (dateInput)="addEvent($event)" (dateChange)="addEvent($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <material-timepicker color="primary" label="Hours" appearance="standard" [userTime]="exportTime" (change)="onChangeHour($event)" revertLabel="Remove" submitLabel="Ok"></material-timepicker>
    <div mat-dialog-actions>
        <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ban</button>
    </div>
</div>