<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<div class="mat-elevation-z8">
    
    <table mat-table [dataSource]="dataSource"  matSort multiTemplateDataRows> 

    <!-- Avatar Column -->
    <ng-container matColumnDef="Avatar">
        <th mat-header-cell *matHeaderCellDef> Avatar </th>
        <td mat-cell *matCellDef="let user"> <img class="user-avatar" [src]="getUserAvatar(user.avatarId)"> </td>
    </ng-container>

    <!-- Username Column -->
    <ng-container matColumnDef="Username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let user"> {{user.username}} </td>
    </ng-container>

    <!-- Role Column -->
    <ng-container matColumnDef="Role">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Role </th>
        <td mat-cell *matCellDef="let user"> {{user.role}} </td>
    </ng-container>

    <ng-container matColumnDef="Banned">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Banned </th>
        <td mat-cell *matCellDef="let user">
            <div *ngIf="banned.has(user.id)">
                <mat-icon>done</mat-icon>
            </div>
            <div *ngIf="!banned.has(user.id)">
                <mat-icon>clear</mat-icon>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="BannedDate">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Bann Exparation Date </th>
        <td mat-cell *matCellDef="let user">
            <div *ngIf="banned.has(user.id)">
            {{ bannedDate.get(user.id) }}
            </div>
            <div *ngIf="!banned.has(user.id)">
               <label>Not Banned</label>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="Id">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"> 
                <div class="example-element-description">
                    <div class="example-button-row">
                        <div *ngIf="!banned.has(element.id)">
                            <button mat-flat-button color="accent" (click)="openDialog()">Ban user</button>                     
                            <button mat-flat-button color="warn" (click)="banUser(element.id)">Permanent ban user</button>
                        </div>
                        <div *ngIf="banned.has(element.id)">
                            <button mat-flat-button color="primary" (click)="unbanUser(element.id)">Unban user</button>                     
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
    class="example-element-row"
    [class.example-expanded-row]="expandedElement"
    (click)="expandedElement = expandedElement === element ? null : element"></tr>
    <tr mat-row *matRowDef="let row; columns: ['Id']" class="example-detail-row"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>