<mat-card [ngClass]="{'example-card': !answer.isAccepted, 'accepted': answer.isAccepted}">
  <mat-card-header>
    <!--Todo add avatar image dynamically-->
    <img [src]="userImage" mat-card-avatar [routerLink]="'/user/' + answer.message.author.id" style="cursor: pointer;">
    <mat-card-title>Answer by {{answer.message.author.username}}</mat-card-title>
    <mat-card-subtitle>{{answer.message.creationTimestamp}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{answer.message.text}}
    </p>
  </mat-card-content>

  <app-thumbnails [imageIds]="answer.message.imageIds"></app-thumbnails>

  <mat-card-actions fxLayout="row wrap" fxLayoutAlign="center stretch">
    <button [hidden]='!isUserQuestionOwner' mat-button (click)="acceptAnswer()">
      <mat-icon>done</mat-icon>
    </button>
    <button [hidden]='!isUserAnswerOwner' mat-button (click)="editAnswer()">
      <mat-icon>create</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>