.example-card {
  max-width: 800px;
  margin: auto;
  margin-top: 5%;
} 
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

.accepted{
  max-width: 800px;
  margin: auto;
  margin-top: 5%;
  border: 3px solid green;
}