<mat-tab-group mat-align-tabs="center" dynamicHeight class="tabs" (selectedTabChange)="onTabChanged($event)">
    <mat-tab label="Users">
        <app-user-list ></app-user-list>
    </mat-tab>
    <mat-tab label="Questions">
       <app-question-list></app-question-list>
    </mat-tab>
</mat-tab-group>
