<div>
    <mat-card class="example-card" [ngClass.xs]="{'example-card': false, 'example-card-mobile': true}">
        <mat-card-content>
            <mat-tab-group mat-align-tabs="center" dynamicHeight class="tabs">
                <mat-tab label="Login">
                    <app-login></app-login>
                </mat-tab>
                <mat-tab label="Register">
                    <app-register></app-register>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>