.tabs {
    margin: 30px;
    padding: 10px;
  }
  
  .example-card {
    width: fit-content;
    margin: auto;
    margin-top: 10%;
  }
  
  .example-card-mobile{
    margin: auto;
    margin-top: 10%;
  }