
<div class="login-div" fxLayout ="column" fxAlign = "center center" [ngClass.xs]="login-div-xs">
    <form>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
          </mat-form-field>
        </td>
      </tr>
    </form>
    <button 
      mat-flat-button 
      (click)="login()" 
      color="primary"
      [disabled]="!valid">Login</button>
</div>