.example-container {
    max-width: 400px;
    margin: auto;
  }
  
  .example-container > * {
    width: 100%;
  }

mat-form-field {
  box-sizing: border-box;
   width: 100%; 
   margin: 10px;
}

.submit-btn {
  width: 100%;
  margin-top: 16px; 
}