<div class="example-container">
    <form>
        <mat-form-field class="answer-form">
        <textarea matInput [(ngModel)]="this.text" name="text" placeholder="Enter/Edit answer" required>{{this.text}}</textarea>
        </mat-form-field>
    </form>
    
    <app-image *ngIf="!isEdit" [submitAnswer] = "submitAnswerSubject.asObservable()" (imageIds)="imageSet($event)"></app-image>

    <button mat-flat-button (click)="onSubmit()" color="primary" [disabled]='!valid' class="submit-btn">
        Submit
    </button>
</div>