<mat-vertical-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="userNameFormGroup">
    <form [formGroup]="userNameFormGroup">
      <ng-template matStepLabel>Choose username</ng-template>
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="userNameCtrl" required>
      </mat-form-field>
      <div>
        <button mat-flat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="passwordFormGroup">
    <form [formGroup]="passwordFormGroup" fxLayout="column" fxAlign ="center center" flex>
      <ng-template matStepLabel>Choose password</ng-template>
      <mat-form-field>
        <input matInput placeholder="Password" formControlName="passwordCtrl" required type="password">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Repeat password" formControlName="repeatedpasswordCtrl" required type="password">
      </mat-form-field>
      <div>
        <button 
          mat-flat-button color="primary" 
          (click)="register()"
          [disabled]="!valid">Submit</button>
      </div>
    </form>
  </mat-step>
</mat-vertical-stepper>