.example-card {
    margin: 35px;
    max-width: 400px;
    max-height: fit-content;
    align-items: center;
  }

  .main-div{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile-stepper{
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 20px;
  }

  