.question-edit-container{
    margin-top: 50px;
    margin-right: 20%;
    margin-left:  20%;
    width: 60%;
  }
  
  .question-edit-container > *{
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
    }
    
  .question-edit-container > * > *{
    width: 100%;
      align-self: center;
    }

    .mat-checkbox {
      margin: 0 10px;
    }

    .example-form {
      min-width: 150px;
      max-width: 500px;
      width: 100%;
    }
    
    .example-full-width {
      width: 100%;
    }

    
    .ng-select.custom {
      border:0px;
      min-height: 0px;
      border-radius: 0;
  }
  .ng-select.custom .ng-select-container  {            
      min-height: 0px;
      border-radius: 0;
  }