<div class="question-edit-container" fxFlexAlign="center center">
  <div [formGroup]="questionFormGroup">
    <mat-form-field>
      <input matInput placeholder="Title" formControlName="title" />
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Description" formControlName="text"></textarea>
    </mat-form-field>

    <label class="title">Location</label>
    <div class="row">
      <mat-form-field style="width: 40%; padding: 10px;">
        <input matInput placeholder="longitude" formControlName="longitude" />
      </mat-form-field>
      <mat-form-field style="width: 40%; padding: 10px;">
        <input matInput placeholder="latitude" formControlName="latitude" />
      </mat-form-field>
      <mat-icon style="width: 20%; padding: 10px;">map</mat-icon>
    </div>
    <app-geo-map [longitude]="questionFormGroup.get('longitude').value"
      [latitude]="questionFormGroup.get('latitude').value">
    </app-geo-map>

    <div *ngIf="!editMode">
      <hr>
      <app-image [submitAnswer]="submitQuestionSubject.asObservable()" (imageIds)="imageSet($event)">
      </app-image>
    </div>
    <hr>

    <label class="title">Categories</label>
    <div class="checkbox-container" fxLayout="row wrap" fxLayoutAlign="center center" formArrayName="categories">
      <div *ngFor="let category of categoriesControls.controls; let i=index">
        <mat-checkbox [formControlName]="i">
          {{ categories[i].name }}
        </mat-checkbox>
      </div>
    </div>

    <hr>

    <div *ngIf="!editMode">
      <mat-slide-toggle formControlName="isProfessional" (change)="changeQuestionType()">Professional question
      </mat-slide-toggle>
    </div>
  </div>

  <div *ngIf="isQuestionProfessional()">
    <div *ngIf="!validateCategories(questionFormGroup.value.categories)">
      <label class="title">Choose categories!</label>
    </div>

    <div *ngIf="validateCategories(questionFormGroup.value.categories)">
      <ng-select [(ngModel)]="questionFormGroup.value.validProfessionalUsers" [multiple]="true" [searchable]="true"
        class="custom">
        <ng-option *ngFor="let user of getsuitableProfessionalUsers()" [value]="user.username">{{user.username}}
        </ng-option>
      </ng-select>
    </div>
  </div>

  <button class="submit" mat-flat-button color="primary" (click)="onSubmit()" [disabled]="!valid">
    Submit
  </button>

  <button class="btn" mat-flat-button color="danger" (click)="onCancel()">
    Cancel
  </button>
</div>