<div *ngIf="imageIds; else withObservable">
    <img *ngFor="let id of imageIds" 
        [src]=" imgUrl+'/'+id | secure | async"
        class="addPhoto">
</div>

<ng-template #withObservable>
    <div *ngFor="let url of urls">
        <img [ngClass]="{'addPhoto': !isRemoveState, 'removePhoto': isRemoveState}" [src]='url'>
    </div>
</ng-template>