<mat-tab-group mat-align-tabs="center" dynamicHeight class="tabs" (selectedTabChange)="onTabChanged($event)">
    <mat-tab label="Questions">
        <app-question-card-list> </app-question-card-list>
    </mat-tab>
    <mat-tab label="Professional Questions">
        <app-question-prof-card-list></app-question-prof-card-list>
    </mat-tab>
        <mat-tab *ngIf="isUserProfessional" label="Direct Questions">
            <app-professional-questions-list></app-professional-questions-list>
        </mat-tab>
</mat-tab-group>
