.user-settings-container{
  margin-top: 50px;
  margin-right: 20%;
  margin-left:  20%;
  width: 60%;
}

.user-settings-container > *{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
  }
  
.user-settings-container > * > *{
  width: 100%;
    align-self: center;
  }

.mat-radio-button{
    margin-right: 15px;
}
.mat-checkbox {
  margin: 0 10px;
}
label.title {
  margin-bottom: 5px;
  font-size: 20px;
}
