<div *ngIf="!isUserAdmin">
  <div class="user-settings-container" fxFlexAlign="center center">

    <h2>User setting edit</h2>
  
    <hr>
  
    <div [formGroup]="userFormGroup">
  
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="username" />
      </mat-form-field>
  
      <br>
      
      <div *ngIf="!isCurrentUserProf">
        <label class="title">Role</label>
        <br>
        <mat-radio-group formControlName="role">
          <mat-radio-button value="normal">Normal </mat-radio-button>
          <mat-radio-button value="professional">Professional</mat-radio-button>
        </mat-radio-group>
      </div>
  
      <br>
  
      <div *ngIf="isProffesionalSelected()">
        <mat-form-field>
          <textarea 
            matInput 
            placeholder="Description"
            formControlName="description">
          </textarea>
        </mat-form-field>
       
        <hr>
  
        <label class="title">Categories</label>
        <div 
          class="checkbox-container" 
          fxLayout="row wrap" 
          fxLayoutAlign="center center"
          formArrayName="categories">
          <div *ngFor="let category of profCategories.controls; let i=index">
            <mat-checkbox [formControlName]="i">
              {{ categories[i].name }}
            </mat-checkbox>
          </div>
        </div>
  
      </div>
  
      <hr>
  
      <div *ngIf="user.avatarId && !imgSelected">
        <app-photo [imageIds]="[user.avatarId]"></app-photo>
      </div>
      
      <app-image 
        [submitAnswer]="submitUserSubject.asObservable()" 
        [singleImage]=true 
        (imageAdd)="imageSelected()" 
        (imageIds)="imageSet($event)">
      </app-image>
  
      <hr>

      <label class="title">Location</label>
      <div class="row">
        <mat-form-field style="width: 40%; padding: 10px;">
          <input matInput placeholder="longitude" formControlName="longitude" />
        </mat-form-field>
        <mat-form-field style="width: 40%; padding: 10px;">
          <input matInput placeholder="latitude" formControlName="latitude" />
        </mat-form-field>
        <!-- <mat-checkbox matInput formControlName="undefinedLocation" #checkbox>Unknown</mat-checkbox> -->
      </div>
      <app-geo-map 
        [longitude]="userFormGroup.get('longitude').value"
        [latitude]="userFormGroup.get('latitude').value">
      </app-geo-map>

      <hr>
  
      <button 
        class="submit" 
        mat-flat-button 
        color="primary" 
        (click)="onSubmit()"
        [disabled]="!valid">
          Submit
      </button>
  
      <button 
        class="btn" 
        mat-flat-button 
        color="danger" 
        (click)="onCancel()">
          Cancel
      </button>
    </div>
  </div>
</div>
<div *ngIf="isUserAdmin">
  <label class="title"> Admin can not edit his profile </label>
</div>
