<div *ngIf="!singleImage">
    <app-thumbnails [events]="photoFileSubject.asObservable()" [states]="stateSubject.asObservable()"
        (removeIndex)="removeFile($event)"></app-thumbnails>
</div>

<div *ngIf="singleImage">
    <app-photo [events]="photoFileSubject.asObservable()" [states]="stateSubject.asObservable()"
        (removeIndex)="removeFile($event)"></app-photo>
</div>

<div fxLayout="row" fxLayoutAlign="space-evenly center">
    <button type="button" 
            mat-flat-button 
            color="primary" 
            (click)="imgFileInput.click()" 
            >AddImage</button>
    <input hidden type="file" #imgFileInput (change)="addImage($event)" />
    <button type="button" 
            mat-flat-button 
            color="warn" 
            (click)="toggleRemoveState()" 
            [class.normalState]="!removeState"
            [disabled]="isEmpty()">Remove Image</button>
</div>