<mat-sidenav-container class="sidenav-container">
  <mat-sidenav 
    #drawer 
    class="sidenav" 
    fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="'over'">
    <mat-nav-list>
      <a mat-list-item>
        <span mat-button (click)="openUser()">
          <mat-icon>person</mat-icon>
          <label>User</label>
        </span>
      </a>
      <div *ngIf="!isUserAdmin">
        <a mat-list-item>
          <span mat-button (click)="userSettings()">
            <mat-icon>palette</mat-icon>
            <label>User settings</label>
          </span>
        </a>
      </div>
<!-- 
      <a mat-list-item>
        <span mat-button (click)="appSettings()">
          <mat-icon>settings</mat-icon>App settings
        </span>
      </a>
       -->
      <hr>

      <a mat-list-item style="position: absolute; bottom: 20px;">
        <span mat-button (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>Log out
        </span>
      </a>
      
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-toolbar>
      <button 
        type="button" 
        aria-label="Toggle sidenav" 
        mat-icon-button 
        (click)="openSidenav()"
        *ngIf="(!!auth.currentUserSubject.value)">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </app-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>

</mat-sidenav-container>